.pizzanavbar {
  border: solid 2px black;
  width: 300px;
  background-color: rgb(22, 18, 18);
}
* {
  box-sizing: border-box;
}
.pizzaimage {
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.pizzaedit {
  background-color: rgba(190, 173, 173, 0.74);
}

img {
  /* top: 0px;
  left: 0px;*/
  width: 100%;
  /* height: 100%; */

  /* box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.74); */
  border: none;
  outline: none;
}

.navtitle {
  font-family: system-ui;
  font-size: 5vh;
  font-weight: 700;
  background-color: darkslategrey;
  text-align: center;
  height: 10vh;
  position: relative;
  background-color: darkslategrey;

  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.74);
}
.navtitle p {
  /* font-size: 100%; */
  position: absolute;
  height: 10vh;
  margin: 0px 0px;
}

.navimage {
  height: 40vh;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.navimage img {
  border-radius: 1em;
}
.ingre {
  color: rgb(197, 31, 31);
  /* border: 2px solid; */
  padding: 5px;
  font-weight: 400;
  /* margin: 0 auto; */
  /* margin-top: 10px; */
  /* font-size: 100%; */
  height: min-content;
  /* display: inline-block; */
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.piz_edi {
  position: relative;
}

.pizzaedit {
  display: flex;
  flex-direction: row;
}

.navcheck {
  height: 50vh;
  position: relative;
  text-align: center;
  /* box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.74); */
  align-items: center;
}
.navingre {
  height: 5vh;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 3vh;
}
.absolute {
  width: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: animation;
  animation-duration: 2s;
}

.absolute img {
  transform: rotateX(60deg);

  border-radius: 50%;
  transform-style: preserve-3d;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  float: right;
  display: inline;
  margin-top: 5px;
}

/* .imagespan {
  border: solid 2px black;
} */
.newnavingre {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

input {
  float: initial;
}
.newnavingre div div div {
  border: solid rgb(160, 36, 36) 1px;
  border-radius: 1em;
  background-color: rgb(43, 24, 41);
  width: 150px;
  margin: 0 auto;
  /* float: left; */
}

.newnavingre div div {
  border: solid rgb(19, 46, 16) 1px;
  border-radius: 1em;
  padding: 5px;
  margin: 5px;
  height: 60%;
  text-align: center;
}

.newnavingre div {
  /* border: solid 1px rgb(8, 8, 8); */
}

.navbar div div img {
  border: solid 1px rgb(235, 235, 10);
}
.edit_main {
  border-radius: 1em;
  border: solid;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pizzzzzzzza {
  /* border: solid 1px;
  border-radius: 1em; */
  width: 80%;
  text-align: center;
  align-items: center;
  position: relative;
}

.pizaimagecircle {
  width: 44%;
  /* border: solid;
  border-radius: 1em; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  /* transform-origin:-50%,-50%; */

  border-radius: 50%;
}

.pizaimagecircle img {
  transform: rotateX(60deg);
  box-shadow: inset 0px 0px 43px 15px #0e0101b8,
    0px 0px 43px 15px rgba(0, 0, 0, 0.88);
  border-radius: 50%;
  transform-style: preserve-3d;
}
.ingreabsolute {
  position: relative;
  width: 100%;
  height: 100%;
}
.imageabs {
  /* position: absolute; */
  /* width: fit-content;
  height: fit-content; */
}
.buybutton {
  background-color: rgba(225, 248, 12, 0.301);
  text-align: center;

  border-radius: 1em;
  width: 100px;
  height: 30px;
  /* font-size: larger; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid rgb(136, 209, 160);
  margin: 0 auto;
}

.holic,
.menu {
  text-align: center;
  width: 100%;
  background-color: #313131;
  color: aliceblue;
  font-family: Andale Mono, monospace;
  font-size: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  margin: 0;
}
.BuyAddButton {
  /* display: flex;
  justify-content: center; */
  flex-direction: row;
  text-align: center;
}
