body {
  background-color: darkgray;
}

input {
  border: 2px solid #1c6ea4;
  border-radius: 15px 33px 33px 15px;
  width: 100%;

  padding: 5px;
  float: left;
  outline: none;
}
input:hover {
  transition: all 0.5s ease;
  transform: scale(1.01);
}
.root {
  width: 30%;
  margin: 59px auto;
  /* height: 100vh; */
}
.login {
  margin: 0 auto;

  border-bottom: none;
  border-radius: 1em;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.border {
  border: 2px solid;
}
.main {
  margin: auto auto;

  border-radius: 1em;
  width: 100%;
  text-align: center;
  height: fit-content;
  /* max-height: 50vmax; */
  /* height: 100vh; */
  border: solid black;
  border-radius: 1em;
  background-color: transparent;
  backdrop-filter: blur(200px);
  background-color: rgb(185, 185, 178);
}
.title {
  font-size: larger;
  font-size: 2vw;
  margin-top: 6px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  padding: 10px;
  border-radius: 1em;
  border: solid black 2px;
  word-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: aliceblue;
}
button:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.labelinput {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  align-items: left;
  margin: 2px auto;
}

.label {
  /* border: 2px solid #1c6ea4;
    border-radius: 15px 33px 33px 15px; */
  float: left;
  width: max-content;
  margin-bottom: 2px;
  padding: 2px;
  word-wrap: break-word;
  font-size: 1vw;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
