* {
  box-sizing: border-box;
}

.mainreservation {
  background-color: #271a1a;
  border: solid 2px blanchedalmond;
  /* height: ; */
}

.hotelbox {
  background-color: aquamarine;
  border: solid 2px black;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  height: 10em;
  display: flex;
  flex-direction: column;
  font-family: cursive;
}

.mainhotelbox {
  display: grid;

  gap: 30px;
}
.Header {
  width: 100%;
  height: 90vh;
  background-image: url("./assets/header.jpg");
  background-size: cover;
  object-fit: contain;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

p {
  /* display: inline-block; */
  margin-left: 5px;
  word-wrap: break-word;
}
.holic,
.menu {
  text-align: center;
  width: 100%;
  background-color: #313131;
  color: aliceblue;
  font-family: Andale Mono, monospace;
  font-size: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  margin: 0;
  height: 3vw;
}

.navbar .navdiv span {
  border: 1px solid;
  height: 100%;
  float: right;
  width: 100%;
  height: 40px;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #141f13;
}

.navbar {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

body {
  margin: 0px;
}

.Midle {
  /* width: 80%; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgba(131, 112, 112, 0.74); */
  justify-content: center;
}

.midleflex {
  display: flex;
  flex-direction: row;
  background-color: rgba(131, 112, 112, 0.74);
  position: relative;
}

.twit {
  width: 20%;
  /* border: 2px solid black; */
  object-fit: contain;
  margin: 56px;
  border-radius: 1em;
  height: 348px;
  top: 0;
  position: sticky;
  right: 0;
}

.box {
  width: 300px;
  border: solid 2px;
  /* justify-content: center;
  text-align: center; */
  float: left;
  margin-left: 5px;
  margin: 10px;
  background-color: rgb(238, 234, 234);
  box-sizing: border-box;
  border-radius: 1em;
  margin-bottom: 0px;
  opacity: 1;
  transform: scale(0.8);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.74);
}

.box:hover {
  opacity: 0.8;
  transform: scale(0.82);
  transition: 1.5s;
}
.img {
  height: 40%;
}

.Footer {
  height: 7vw;
  padding: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: solid 1px black;
  background: #313131;
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.Footer div {
  width: 30%;
  height: 100%;
  text-align: center;
  font-family: cursive;
}

.Footer div p {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.name {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  margin: 0px;
  word-wrap: break-word;
  font-size: larger;
}
.ingredients {
  height: 5em;
  font-family: Apple Chancery, cursive;
  margin: 0px;
  word-wrap: break-word;
  color: #271a1a;
  width: 100%;
}
.black {
  background-color: black;
  background-color: black;
}
.height {
  height: 6em;
}
.ingre {
  width: 100%;
  font-size: large;
  word-wrap: break-word;
  font-size: 17px;
  font-weight: 300;
  color: rgb(15, 14, 14);
  margin: 0px;
  margin-top: 5px;
}
.info {
  flex-direction: column;
  text-align: left;
  text-align: center;
}
.price {
  font-family: Apple Chancery, cursive;
  font-size: large;
  text-shadow: 0px 5px 10px #4a4a45;
  margin: 0px;
  word-wrap: break-word;
  height: 1em;
}

.add {
  font-family: Apple Chancery, cursive;
  font-size: large;
  text-shadow: 0px 5px 10px #4a4a45;
  word-wrap: break-word;
  text-align: center;
  border: solid 2px;
  border-radius: 1em;
  /* margin-top: -5px; */
  width: 93%;
  padding: 5px;
  color: aliceblue;
  background-color: rgb(18, 20, 19);
  opacity: 0.97;
  /* margin-left: 10px; */
}

.add:hover {
  opacity: 1;
  transform: scale(0.95);
  transition: 1.5s;
}
.rupi::before {
  content: "\20B9";
  margin: 0px;
}
